:root {
    --nav-bg:  background-color: rgba(0, 0, 0, 0.384);
    --primary-colour: #482bd9;
    --secondary-colour-black : #0a0a0c;
    --secondary-colour-gray :#222224;
    --Heading-size:  4.5rem;
    --Heading-line-height:  5rem;

    --text-large-size : 2.5rem;
    --text-large-line :4.25rem;
    --black-bottom-top-clear-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    --black-top-bottom-clear-gradient: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    --text-mid-size : 1.5rem;
    --text-mid-line :2rem;
    --white-filter:  invert(100%) sepia(100%) saturate(2%) hue-rotate(148deg) brightness(106%) contrast(101%);
}
.login-link {
    padding: 10px 15px;
}
.logo-container img{
    width: 60px;
    height: 60px;
   margin-right: 10px;
    filter:var( --white-filter)
}
.col-custom{
    display: flex;
    flex-direction: column;
}
.more-section .container-custom {
    display: grid;
    gap: 30px;
  
    grid-template-columns: repeat(6, 1fr);
}
.text-mid {
    font-size: var(--text-mid-size);
    line-height: var(--text-mid-line);
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
    
}
.text-big {
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
}
.heading-custom {
    font-size: var(--Heading-size);
    line-height: var(--Heading-line-height);
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
}
.col-50 {
    width: 50%;
}
body {

    display: none;
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
   background-color: rgb(0, 0, 0);
}

nav {
    
    z-index: 999;
    width: 100%;
    height: 40px;
    position: fixed;
}

a{
    text-decoration: none;

}
.row-custom {
    display: flex;
    flex-direction: row;
}
nav a{
    cursor: pointer;
}
.active-link {
    background-color: var(--primary-colour);
}
.navigation-container .link {
    padding: 5px 18px;
}
.navigation-container .link:hover {
   
    background-color: var(--primary-colour);
}

.navigation-container {
    height: 60px;
    margin: auto;
    padding: 0 2%;
   

    
    justify-content: space-between;
}
.navigation-container-col {
    gap: 2rem;
}
.navigation-container-col * {
    
   
    margin: auto;

    color: white;
    
}
.hero-bottom-title {
    opacity: 0%;
    z-index: 2;
    width: 100%;
    padding: 2rem 5%;
    text-align: left;
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
   
    
}
.movie-card .text-container{
    padding-bottom: 2vh;
    user-select: none;
    -webkit-user-drag: none;
    width: 100%;
}
.button-custom:hover{
    filter: brightness(2);
}
.button-custom {
    width: 100px;
    height: 40px;
    background-color: var(--primary-colour);
    color: white;
    border: none;
}
#card1 {
    background-image: url("../imgs/rock-movie.jpeg");
}

.movie-card:hover{
    transition: 0.3s;
    width: 250px;
    height: 250px;
}
.movies-selection-bar .active-card {
    width: 250px;
    height: 250px;
}
.movie-card-info-container {
    color: white;
    width: 50%;
 
    margin-top: 30vh;
  
}
.section-header {
    color: white;
    text-align: left;
  
    margin: 5% 0;

}
.card-info p {
    margin: 0.5rem !important;
    line-height: 1rem;
}
.card-info {
    background-color: black;
    min-height: 135px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
}
.card-movie-img {
    -webkit-user-drag: none;  /* Disable image dragging in WebKit-based browsers */
    user-select: none;
    filter: brightness(70%);
    object-fit: cover;
    width: 100%;
   height: 100%;
  
 
}
.movie-card-more {

    z-index: 2;
    
    position: relative;
    border-radius: 5px;
    user-select: none;
    color: white;
    background-repeat: no-repeat;
   background-position: center;
    background-size: cover;
    background-color: var(--secondary-colour-gray);
    font-family: monospace;
    
    height: 250px;
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}


.trending-section .movie-card-trending {
    width: 300px;
    height: 400px;
   position: relative;
   background-color: black;
  
 

}
.movie-card {
    z-index: 2;
    transition: 0.3s;
  
    border-radius: 5px;
    user-select: none;
    color: white;
    background-repeat: no-repeat;
   background-position: center;
    background-size: cover;
    background-color: var(--secondary-colour-gray);
    font-family: monospace;
    width: 175px;
    height: 200px;
    margin-right: 4rem;
    flex: 0 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;


}

.movies-section-container {
   
    justify-content: space-between;
}
.post, .recent-post {
    position: relative;
    cursor: pointer;
}
.post img {
    width: 150px;
    height: 100%;
}
.post-text {
    color: white;
}
.movie-card-trending .button-custom {
    margin: auto;
    display: block;
}
.post {

    padding: 5%;
    height: 25%;
}
.post-text {
    margin-left: 5%;
}
.recent-post .post-text {
    padding: 5%;
    position: absolute;
    top: 30%;
    z-index: 2;
}
.recent-post .post-text * {
    margin-top: 5%;
}
.recent-post img {
    filter: brightness(0.7);
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.blog-section .posts-container {
    height: 80vh;
}
.movies-selection-bar {
   
    width: 100%;
    height: 300px;
    overflow-x: hidden;

   
}
.black-gradient-animation-top{
    transform: translateY(0);
    background: var(--black-top-bottom-clear-gradient);
    position: absolute;
    top: 0;
    height: 200px;
    width: 100%;
}
.black-gradient-animation{
    transform: translateY(0);
    background: var(--black-bottom-top-clear-gradient);
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
}
.video {
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.section-commingsoon {
   
}
footer {
    background-size: cover;
    background-position: center;;
    background-image: url("../imgs/bg-section.png");
    background-repeat: no-repeat;
}
.blog-section {
   position: relative;
}
.trending-section {
    background-size: cover;
    background-position: center;;
    background-image: url("../imgs/bg-section2.png");
    background-repeat: no-repeat;
    position: relative;
    padding: 15vh 0;
    width: 100%;
    background-color: black;
}
.wrapper-content {

    height: 100%;
    margin: 0 5%;
    position: relative;
}
.movies-section{
   
    position: relative;
    margin: 15vh 0;
    background-image: url("../imgs/the_dark_knight_rises-wallpaper-1920x1200.jpg");
    height: 120vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-text {
   text-align: left;
    color: white;
    z-index: 2;
    top: 20%;
    left: 5%;
    position: absolute;
    width: 40%;
    
}
.hero-section {
    /* background-image: url("../imgs/her-bg.png"); */
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 150vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}
#slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.slides_container {
    filter: brightness(0.8);
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
}
.slides_container .slide {
    animation: fadeIn 0.5s forwards;

    display: none;
    position:absolute;
    width:100%;
    height:100%;
    visibility:hidden;
    opacity:0;
    transition:opacity 1s ease, visibility 0s ease 1s;
}

.slides_container .slide.active {
    display: block;
    visibility:visible;
    opacity:1;
    transition:opacity 1s ease;

}
.scrolling-wrapper {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  cursor: grab;
  opacity:100%;
  overflow-x: hidden;
}
.footer-container a {
    cursor: pointer;
}
.search-bar-movie {
    border-radius: 20px;
    border: none;
}
.col-footer h5 {
    margin-bottom: 30px;
}
.search-bar-movie {
    margin-top: 20px;
}
.col-footer a {
    opacity: 50%;
}
.icons-footer a {
    opacity: 100% !important;
}
.contact-icon {
    
    margin-right: 20px;
    filter: var(--white-filter);
    width:  40px;
    height: 40px;
}
footer {
    position: relative;
    background-color: var(--secondary-colour-gray);
    margin: 10% 0 0 0;
    padding: 5% 0;
}
.col-custom a {
    line-height: 2rem
}
.footer-container {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.scrolling-wrapper.active {
  cursor: grabbing;
 
}

.scrolling-wrapper[data-dragging="true"] a {
  pointer-events: none;
}
.wrapper-search * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}
.wrapper-search{
    opacity: 80%;
  
}
  
.wrapper-search .search_box{
    margin: 12px;

background: #fff;
border-radius: 5px;
height: 35px;
display: flex;
padding: 10px;
box-shadow: 0 8px 6px -10px #b3c6ff;
}
.show {
    display: block !important;
}  
.wrapper-search .search_box .dropdown{
    display: none;
width: 120px;
border-right: 2px solid #dde2f1;
color: #9fa3b1;
position: relative;
cursor: pointer;
}

.wrapper-search .search_box .dropdown .default_option{
text-transform: uppercase;

font-size: 14px;
color: black;
user-select: none;
}
  
.wrapper-search .search_box .dropdown ul{
z-index: 2;
position: absolute;
top: 30px;
left: -10px;
background: #fff;
width: 150px;
border-radius: 5px;
padding: 20px;
display: none;

}
  
.wrapper-search .search_box .dropdown ul.active{
display: block;
}
  
.wrapper-search .search_box .dropdown ul li{
padding-bottom: 20px;
color: black;
}

.wrapper .search_box .dropdown ul li:last-child{
padding-bottom: 0;
}
.active-nav {
    border: 2px solid rgba(255, 255, 255, 0.589);
}
.wrapper-search .search_box .dropdown ul li:hover{
color: #6f768d;
}

.wrapper-search .search_box .dropdown:before{
pointer-events: none; 
user-select: none;    
content: "";
position: absolute;
top: 5px;
right: 20px;
border: 8px solid;
border-color: #5078ef transparent transparent transparent;
}
  
  .wrapper-search .search_box .search_field{
    width: 180px;
    height: 100%;
    position: relative;
  }
  
.wrapper-search .search_box .search_field .input{
width: 100%;
height: 100%;
border: 0px;
font-size: 16px;
padding-left: 20px;
padding-right: 38px;
color: #6f768d;
transform: translate(0px, -3px);
}

.wrapper-search .search_box .search_field .fas{
position: absolute;
top: -2px;
right: 10px;
font-size: 22px;
color: #5078ef;
cursor: pointer;
}
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9fa3b1;
  }
  ::-moz-placeholder { /* Firefox 19+ */
   color: #9fa3b1;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #9fa3b1;
  }
  
/*<==medium  */
@media (max-width: 992px) {
    .more-section .container-custom {
        grid-template-columns: repeat(4, 1fr);
    }
    .more-section .container-custom > *{
        height: 200px;
    }
    .footer-container {
       
        grid-template-columns: repeat(2, 1fr);
    }
  
}
/*<==mobile  */
@media (max-width: 767px) {
    .footer-container {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .icons-footer {
        margin: auto;
    }
    
}

@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}