:root {
    --nav-bg:  background-color: rgba(0, 0, 0, 0.384);
    --primary-colour: #482bd9;
    --secondary-colour-black : #0a0a0c;
    --secondary-colour-gray :#222224;
    --secondary-colour-gray-light :#535356;
    --secondary-colour-gray-very-light :#e3e3e7;
    --Heading-size:  4.5rem;
    --Heading-line-height:  5rem;

    --text-large-size : 2.5rem;
    --text-large-line :4.25rem;
    --black-bottom-top-clear-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    --black-top-bottom-clear-gradient: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    --text-mid-size : 1.5rem;
    --text-small-size : 1.2rem;
    --text-very-small-size : 0.9rem;
    --text-extra-very-small-size : 0.8rem;
    --text-mid-line :2rem;
    --main-color-filter: invert(16%) sepia(100%) saturate(7469%) hue-rotate(255deg) brightness(89%) contrast(90%);
    --white-filter:  invert(100%) sepia(100%) saturate(2%) hue-rotate(148deg) brightness(106%) contrast(101%);
    --gray-filter:  invert(100%) sepia(0%) saturate(5516%) hue-rotate(277deg) brightness(112%) contrast(67%);
}
.list-searched-movies::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
.list-searched-movies::-webkit-scrollbar-track {
    background: var(--secondary-colour-gray)
}
.list-searched-movies::-webkit-scrollbar-thumb {
    background: var(--secondary-colour-gray-light)
}

.movie-searched-title {
    color: white;
    padding-left: 15px !important;
    text-align: left;
}
.search-movie-img {
    max-width: 70px;
    min-width: 70px;
    height: 70px;
    object-fit: cover;
}
.hamburger {
    display: none;
    cursor: pointer;
    filter: var(--white-filter);
}
nav .link {
    font-size: var(--text-very-small-size)
}
.login-link {
    padding: 10px 15px;
}
.logo-container img{
    width: 60px;
    height: 60px;
   margin-right: 10px;
    filter:var( --white-filter)
}
.col-custom{
    display: flex;
    flex-direction: column;
}
.category_movies  .container-custom {
    display: grid;
    gap: 30px;
  
    grid-template-columns: repeat(4, 1fr);
}
.more-section .container-custom {
    display: grid;
    gap: 30px;
  
    grid-template-columns: repeat(6, 1fr);
}
.text-mid {
    font-size: var(--text-mid-size);
    line-height: var(--text-mid-line);
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
    
}
.text-big {
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
}
.heading-custom {
    font-size: var(--Heading-size);
    line-height: var(--Heading-line-height);
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
}
.col-50 {
    width: 50%;
}  

.body_mask {
   
    animation: fadeIn 0.4s forwards;
    transition: 0.4s;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.567);
    pointer-events: none; 
    z-index: 99999; 
}
body {
   

    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
   background-color: rgb(0, 0, 0);
}

nav {
    
    z-index: 999;
    width: 100%;
    height: 40px;
    position: fixed;
}

a{
    text-decoration: none;

}
.row-custom {
    display: flex;
    flex-direction: row;
}
nav a{
    cursor: pointer;
}
.movie-section{
    height: 100vh !important;
}
.movie-desc {
    width: 70%;
}
.current-movie-desc-container {
   
    gap: 20px;
    color: white;
    margin-top: 60px;
}
.background-section-current-movie{
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    filter: grayscale(60%) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.category_background::before {
    background: linear-gradient(to right, rgba(0, 0, 1), rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 60%)!important;
}
.background-section-popular-movies {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(60%) brightness(0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-section-current-movie::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 1), rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0) 140%);
    pointer-events: none; /* Make sure the pseudo-element does not interfere with user interactions */
}
.movie-section-current {
   position: relative;
  
    height: 100%;
    width: 100%;
}
.current-movie-wrapper {
    padding-top: 60px;
    align-content: center;
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
}
.movie-section-current img {
    border-radius: 30px;
    object-fit: cover;
    margin: 60px;
    width: 300px;
    height: 60%;
}
.active-link {
    background-color: var(--primary-colour);
}
.navigation-container .link {
    padding: 5px 18px;
}
.navigation-container .link:hover {
   
    background-color: var(--primary-colour);
}

.navigation-container {
    height: 60px;
    margin: auto;
    padding: 0 3%;
   

    
    justify-content: space-between;
}
.category_background {
    filter: grayscale(0%) !important;
    right: 0;
    position: absolute;
   
}
.navigation-container-col {
    gap: 2rem;
}
.navigation-container-col * {
    
   
    margin: auto;

    color: white;
    
}
.hero-bottom-title {
    opacity: 0%;
    z-index: 2;
    width: 100%;
    padding: 2rem 5%;
    text-align: left;
    color: white;
   
    bottom: 0;
   
   
    
}
.reviews-container {
    gap: 30px;
}
.review-card-layout{
    position: absolute;
    transition: 0.3s;
    user-select: none;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 15px;
    width: 300px;
    height: 200px;
    color: white;
    justify-content: space-between;
}

.review-card:hover .review-card-layout{
    transition: 0.3s;
    border: 4px solid var(--primary-colour);
}
.review-card {
   position: relative;
    transition: 0.3s;
    user-select: none;
    border-radius: 10px;
    background-color: var(--secondary-colour-gray);
    padding: 15px;
    width: 300px;
    height: 200px;
    color: white;
    justify-content: space-between;
   
}

.review-card img {
    user-select: none;
    -webkit-user-drag: none;
    margin-right: 20px;
    width: 100px;
    height: 100;
}
.reviwer-review {
    margin-top: 10px;
}
.movie-card .text-container{
    font-weight: 700;
    z-index: 2;
    padding-bottom: 2vh;
    user-select: none;
    -webkit-user-drag: none;
    width: 100%;
}
.button-custom:hover{
    filter: brightness(2);
}
.actor-name {
    color: white;
}
.trending-section:hover .comming-arrow {
    opacity: 100%;
    transition: 0.3s;
}
.reviews-section:hover .slider-arrow {
    opacity: 100%;
    transition: 0.3s;
}
.trending-section:hover .slider-arrow-trending {
    opacity: 100%;
    transition: 0.3s;

} 
.current-movies-section:hover .current-movie-arrow{
    opacity: 100%;
    transition: 0.3s;
}
.reviews-container {
    align-items: center;
    height: 220px;
    position: relative;
   
}
.actors-section:hover .slider-arrow {
    opacity: 100%;
    transition: 0.3s;
}
.actors-container {
    position: relative;
}
.arrow-section{
    opacity: 0%;
   
    filter: var(--white-filter);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
}
.slider-arrow-review {
  
    top: 55%;
  
}
.comming-arrow, .current-movie-arrow, .slider-arrow-trending {
    top: 48%;
    cursor: pointer;
    z-index: 4;
}
.slider-arrow{
    
    top: 55%;
   
}

.actor-role {
    color: rgba(255, 255, 255, 0.415);
}
.img-name-container-review {
    align-items: center;
}
.actor-card {
    overflow: hidden;
    user-select: none;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-colour-gray);
    margin-right: 20px;
   text-align: center;
    width: 300px;
    height: 300px;

}
.video-img {
    transition: 0.3s;
    object-fit: cover;
  width: 100%;
  height: 100%;
    border-radius: 10px;
}
.video-title {
    color: white;
    margin: 10px 0;
}

.video-card:hover .video-img-container{
    outline: 4px solid var(--primary-colour);
}
.video-card:hover .video-img{
    transition: 0.3s;
   transform: scale(1.2);
}
.video-img-container{
    height: 250px;
    border-radius: 10px;
}
.video-img-container {
    overflow: hidden;
}
.video-card {
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    
    
    margin: 10px;
   text-align: left;
    width: 300px;
    height: 300px;
}
.actors-section, .reviews-section {
    position: relative;
}
.actor-card img{
    margin: auto;
    -webkit-user-drag: none;
    user-select: none;
    border-radius: 50%;
 width: 190px;
 height: 190px;
}
.button-custom {
    width: 100px;
    height: 40px;
    background-color: var(--primary-colour);
    color: white;
    border: none;
}
#card1 {
    background-image: url("../imgs/rock-movie.jpeg");
}

.movie-card:hover{
    transition: 0.3s;
    width: 250px;
    height: 250px;
}
.movies-selection-bar .active-card {
    width: 250px;
    height: 250px;
}
.movie-card-info-container {
    
  
    color: white;
    width: 70%;
 
    top: 20%;
  
}
.section-header {

    z-index: 5;
    color: white;
    text-align: left;
  
    margin: 5% 0;

}
.card-info p {
    margin: 0.5rem !important;
    line-height: 1rem;
}
.card-info {
    width: 100%;
    background-color: black;
    min-height: 135px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
}
.card-movie-img {
    -webkit-user-drag: none;  /* Disable image dragging in WebKit-based browsers */
    user-select: none;
    filter: brightness(70%);
    object-fit: cover;
    width: 100%;
   height: 100%;
  
 
}
.movie-card-more {

    z-index: 2;
    
    position: relative;
    border-radius: 5px;
    user-select: none;
    color: white;
    background-repeat: no-repeat;
   background-position: center;
    background-size: cover;
    background-color: var(--secondary-colour-gray);
    font-family: monospace;
    
    height: 250px;
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}


.trending-section .movie-card-trending {

    width: 300px;
    height: 400px;
   position: relative;
   background-color: black;
  
 

}
.card-movie-img-popular {
    object-fit: cover;
    filter: brightness(0.7);
    -webkit-user-drag: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.movie-card {
    position: relative;
    z-index: 2;
    transition: 0.3s;
    border-radius: 5px;
    user-select: none;
    color: white;
    background-repeat: no-repeat;
   background-position: center;
    background-size: cover;
    background-color: var(--secondary-colour-gray);
    font-family: monospace;
    width: 175px;
    height: 200px;
    margin-right: 4rem;
    flex: 0 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;


}

.movies-section-container >*{
   
    padding: 20px
}
.post, .recent-post {
    position: relative;
    cursor: pointer;
}
.post img {
    width: 150px;
    height: 100%;
}
.post-text {
    color: white;
}
.movie-card-trending .button-custom {
    margin: auto;
    display: block;
}
.post {

    padding: 5%;
    height: 25%;
}
.post-text {
    margin-left: 5%;
}
.recent-post .post-text {
    padding: 5%;
    position: absolute;
    top: 30%;
    z-index: 2;
}
.recent-post .post-text * {
    margin-top: 5%;
}
.recent-post img {
    filter: brightness(0.7);
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.selected_movie_description {
  font-size: var(--text-small-size);
}
.blog-section .posts-container {
    height: 80vh;
}
.movies-selection-bar {

    width: 100%;
    height: 300px;
    overflow-x: hidden;
   

   
}
.black-gradient-animation-top{
    z-index: 2;
    transform: translateY(0);
    background: var(--black-top-bottom-clear-gradient);
    position: absolute;
    top: 0;
    height: 200px;
    width: 100%;
}
.black-gradient-animation{
    transform: translateY(0);
    background: var(--black-bottom-top-clear-gradient);
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
}
.video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.section-commingsoon {
   
}
footer {
    background-size: cover;
    background-position: center;;
    background-image: url("../imgs/bg-section.png");
    background-repeat: no-repeat;
}
.blog-section {
   position: relative;
}
.trending-section {
    background-size: cover;
    background-position: center;;
    background-image: url("../imgs/bg-section2.png");
    background-repeat: no-repeat;
    position: relative;
    padding: 15vh 0;
    width: 100%;
    background-color: black;
}

.wrapper-content {

 
    padding: 0 5%;
    position: relative;
}
.movies-section{
   
    position: relative;
    margin: 15vh 0;
   
   
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.registration_container {
    overflow-y: scroll;
}
.registration_content {
    
    width: 100%;
    height: 100%;
    position: relative;
}
.poster-desc {
    color: white;
    font-size: var(--text-small-size);
}
.poster_text {
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.poster-title {
    font-size: var(--text-mid-size);
   color: gold;
}
.form_reg input, .login_form input {
    display: block;
    width: 90%;
    
    border: 2px solid rgba(0, 0, 0, 0.078);
    margin: 30px auto;
    padding: 10px;
}
.poster_reg_form span{
    display: block;
    margin: auto;
    width: 100%;
   
}
.poster-registration {
    margin: auto;
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("../imgs/pop.jpg");
}
.poster_reg_form {
    display: flex;
    text-align: center;
    color: WHITE;
    width: 100%;
    height: 150px;
    background-image: url("../imgs/pop.jpg");
}
.reg-cross {
    cursor: pointer;
    position: fixed;
    z-index: 2;
    top: 5px;
    right: 15px;
    width: 36px;
    height: 36px;
    filter: var(--gray-filter)
}
.registration_content p {
    text-align: center;
   opacity: 80%;
}
.right-arrow-btn {
    filter: var(--main-color-filter);
    width: 30px;
    height: 30px;
    margin-left: 10px;
   
}
.confirm_reg_new_user:hover {
    -webkit-box-shadow: 2px -2px 55px -14px rgba(72,43,217,1);
    -moz-box-shadow: 2px -2px 55px -14px rgba(72,43,217,1);
    box-shadow: 2px -2px 55px -14px rgba(72,43,217,1);
}
.login_button:hover {
    transition: 0.3s;
    -webkit-box-shadow: 2px -2px 55px -14px rgba(83,83,86,1);
    -moz-box-shadow: 2px -2px 55px -14px rgba(83,83,86,1);
    box-shadow: 2px -2px 55px -14px rgba(83,83,86,1);
}
.login_form p {
    text-align: center;
    margin-top: 30px;
    opacity: 80%;
}
.login_user_button{
    padding: 16px 0;
    width: 90%;
    margin:  10px auto;
    display: block;
    border: 3px solid var(--primary-colour)
}
.login_button {
    transition: 0.3s;
    padding: 16px 0;
    width: 40%;
    margin:  10px auto;
    display: block;
    border: 3px solid var(--secondary-colour-gray-light)
}
.register_button:hover {
    transition: 0.3s;
    -webkit-box-shadow: 2px -2px 55px -14px rgba(72,43,217,1);
    -moz-box-shadow: 2px -2px 55px -14px rgba(72,43,217,1);
    box-shadow: 2px -2px 55px -14px rgba(72,43,217,1);
}
.register_button {
    transition: 0.3s;
    padding: 16px 0;
    width: 80%;
    margin:  40px auto;
    display: block;
    border: 3px solid var(--primary-colour);
    
}
.sign_up_link {
    cursor: pointer;
}
.registration_container {
    filter: none;
    animation: registration_animation 0.5s forwards;
    display: none;
    top: 0;
    position: fixed;
    right: 0;
    background-color:white;
    width: 500px;
    height: 100vh;
    z-index: 9999999;    

}
.hero-text {
   text-align: left;
    color: white;
    z-index: 2;
    top: 30%;
    left: 5%;
    position: absolute;
    width: 600px;
    
}
.hero-img {
    z-index: 2;
    position: absolute;
    right: 10%;
    top: 10%;
}
.hero-section {
    /* background-image: url("../imgs/her-bg.png"); */
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}
#slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.slides_container {
    filter: brightness(0.8);
    position:absolute;
    overflow:hidden;
    width:100%;
    height:100%;
}
.slides_container .slide {
    animation: fadeIn 0.5s forwards;

    display: none;
    position:absolute;
    width:100%;
    height:100%;
    visibility:hidden;
    opacity:0;
    transition:opacity 1s ease, visibility 0s ease 1s;
}

.slides_container .slide.active {
    display: block;
    visibility:visible;
    opacity:1;
    transition:opacity 1s ease;

}
.scrolling-wrapper {
  display: flex;
  flex-wrap: no-wrap !important;
  overflow-x: auto;
  cursor: grab;
  opacity:100%;
  overflow: hidden;
}
.footer-container a {
    cursor: pointer;
}
.search-bar-movie {
    border-radius: 20px;
    border: none;
}
.col-footer h5 {
    margin-bottom: 30px;
}
.search-bar-movie {
    margin-top: 20px;
}
.col-footer a {
    opacity: 50%;
}
.icons-footer a {
    opacity: 100% !important;
}
.contact-icon {
    
    margin-right: 20px;
    filter: var(--white-filter);
    width:  40px;
    height: 40px;
}
footer {
    position: relative;
    background-color: var(--secondary-colour-gray);
    margin: 10% 0 0 0;
    padding: 5% 0;
}
.col-custom a {
    line-height: 2rem
}
.footer-container {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.scrolling-wrapper.active {
  cursor: grabbing;
 
}
.list-searched-movies {
    overflow-y: scroll;
    background-color: var(--secondary-colour-gray);
    max-height: 500PX;
    font-size: var(--text-extra-very-small-size);
    width: 100%;
    text-align: center;
}
.scrolling-wrapper[data-dragging="true"] a {
  pointer-events: none;
}
.wrapper-search * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

.movie-searched {
  
    align-items: center;
    height: 90px;
    width: 100%;
    cursor: pointer;
    color: black;
    padding: 10px;

}


.movie-searched:hover {
    background-color: var(--primary-colour);
    color: white !important;
    
}
.search-results{
    background: #fff;
border-radius: 5px;
margin-top: 10px;
display: flex;

box-shadow: 0 8px 6px -10px #b3c6ff;
}
.wrapper-search .search_box{
    margin: 12px;

background: #fff;
border-radius: 5px;
height: 35px;
display: flex;
padding: 10px;
box-shadow: 0 8px 6px -10px #b3c6ff;
}
.show {
    display: block !important;
}  
.wrapper-search .search_box .dropdown{
    display: none;
width: 120px;
border-right: 2px solid #dde2f1;
color: #9fa3b1;
position: relative;
cursor: pointer;
}

.wrapper-search .search_box .dropdown .default_option{
text-transform: uppercase;

font-size: 14px;
color: black;
user-select: none;
}

.wrapper-search .search_box .dropdown ul{
  
z-index: 2;
position: absolute;
top: 30px;
left: -10px;
background: #fff;
width: 150px;
border-radius: 5px;
padding: 20px;
display: none;

}
  
.wrapper-search .search_box .dropdown ul.active{
display: block;
}
  
.wrapper-search .search_box .dropdown ul li{
padding-bottom: 20px;
color: black;
}

.wrapper .search_box .dropdown ul li:last-child{
padding-bottom: 0;
}
.active-nav {
    border: 2px solid rgba(255, 255, 255, 0.589);
}
.wrapper-search .search_box .dropdown ul li:hover{
color: #6f768d;
}

.wrapper-search .search_box .dropdown:before{
pointer-events: none; 
user-select: none;    
content: "";
position: absolute;
top: 5px;
right: 20px;
border: 8px solid;
border-color: #5078ef transparent transparent transparent;
}
  
  .wrapper-search .search_box .search_field{
    width: 180px;
    height: 100%;
    position: relative;
    transition: 0.4s;
  }

.wrapper-search .search_box .search_field .input{
width: 100%;
height: 100%;
border: 0px;
font-size: 16px;
padding-left: 20px;
padding-right: 38px;
color: #6f768d;
transform: translate(0px, -3px);
}

.wrapper-search .search_box .search_field .fas{
position: absolute;
top: -2px;
right: 10px;
font-size: 22px;
color: #5078ef;
cursor: pointer;
}
.movies_dropdown {
    padding-left: 10px;
    display: none;
    animation: fadeIn 0.s forwards;
    top: 60px;
    position: absolute;
    width: 420px;
    
    background-color: white;
    color: black;
    transform: translateX(-40%);

}
.categories_container {
    justify-content: left;
    flex-wrap: wrap;
}
.catgory_box:hover{
    background-color: var(--secondary-colour-gray-very-light);
}
.catgory_box {
    border-radius: 8px;
    margin: 0;
    display: inline;
    animation: fadeIn 0.5s forwards;
    text-align: left;
    color: black;
    width: 200px;
    padding: 18px 
}
.dropdown_nav h5{
    margin: 0;

    text-align: left;
    width: 200px;
    padding: 14px;
    font-weight: 700;
    color: var(--primary-colour);
}
.dropdown_nav {
   
    border-radius: 6px;
}
.container-links {
   display: none; 
}
.menu_form {
    display: none;
}
.well label {
    opacity: 80%;
    margin-left: 6%;
}
.movies_link {
    z-index: 2;
    padding: 15px 18px !important;
    cursor: pointer;
}
.movies_dropdown {
   
    cursor:default
}
.confirm_reg_new_user {
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    border: 2px solid var(--primary-colour);
    margin-bottom: 40px;
}
  
/*<==medium  */
@media (max-width: 992px) {
    .more-section .container-custom {
        grid-template-columns: repeat(4, 1fr);
    }
    .more-section .container-custom > *{
        height: 200px;
    }
    .footer-container {
       
        grid-template-columns: repeat(2, 1fr);
    }
  
}
/*<==mobile  */
@media (max-width: 767px) {

    .background-section-current-movie, .registration_container {
        width: 100%;
    }
    .footer-container {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .icons-footer {
        margin: auto;
    }
    .movie-details {
        margin: auto;
    }
    .movie-desc {
        padding: 10px;
        width: 100%;
        text-align: left;
    }
    .current-movie-wrapper .button-custom {
        margin: auto !important;
        display: table;
    }
    .current-movie-wrapper {
        text-align: center;
        flex-direction: column;
    }
    .movie-section {
        height: 100% !important;
    }
    .movie-section-current img {
        width: 200px;
        height: 260px;
        margin: 60px auto 0 auto;
    }
    
}
/*<==mobile very small */
@media (max-width: 400px) {
    .movie-section-current img {
        width: 100%;
        
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes fadeIn_backwards {
    100%{
        opacity: 0%;
    }
    0%{
        opacity: 100%;
    }
}
@keyframes registration_animation {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes registration_animation_backwards {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}